html, body {
	height: 100%;
	width: 100%;
	font-familty: sans-serif;
	color: #222;
}

.parallax {
	/* The image used */
	background-image: url("../images/graph.png");

	/* Set a specific height */
	min-height: 500px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron {
	padding: 1rem;
	border-radius: 0;
}

.padding {
	padding-bottom: 2rem;
}

footer {
	background-color: black;
	color: #d5d5d5;
	padding: 2em;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
